body{
    font-family: "Special-Elite", cursive;
    background : linear-gradient(rgb(212, 252, 255) 0%, rgb(151, 177, 255) 100% );

}

.header_div{
    background : rgb(198, 196, 196);
    color :rgb(71, 71, 71);
    font-family : "Roboto";
}
.header_div p{
    font-family : "Roboto";
    color : rgb(71, 71, 71);
    letter-spacing: 2px;
    font-size : 15px;
    font-weight : bold;

}
.main_div button{
    font-size : 20px;
    font-family :"Roboto";
    margin-top: 30px;
    width : 80px;
    font-weight : bold;
    letter-spacing: 1px;
}

.copy_right_footer{
    position : fixed;
    color :rgb(71, 71, 71);
    bottom : 0;
    width : 100%;
    font-size : 18px;
    background-color: rgb(232, 232, 232);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151,149,149);
}